* {
    margin:  0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

.content {
    display: grid;
    grid-template-columns: clamp(150px, 30%, 290px) 2fr;
    grid-template-rows: 170px;
    height: 100vh;
    width: 100vw;
}

.dashboard {
    background-color: #10b981;
    color: #FFF;

    font-weight: bold;
   
    grid-row: 1 / 7;
}

.dashboard span {
    display: grid;
    align-items: center;
}

.dashboard img {
    filter: invert(95%) sepia(5%) saturate(0%) hue-rotate(66deg) brightness(104%) contrast(107%);
}

.logo {
    grid-template-columns: 63px min-content;
    margin: 15px 0 0 15px;

    font-size: 1.8em;
}

.logo > img {
    width: 50px;
}

.buttons {
    display: grid;
    grid-template-rows: repeat(7, 1fr);

    margin-top: 40px;
}

.buttons span,
.other-buttons span {
    font-size: 1.1em;

    grid-template-columns: 50px min-content;

    margin-left: 28px;
}

.buttons span > img,
.other-buttons span > img,
.search-area > img {
    width: 25px;
}

.other-buttons {
    display: grid;
    grid-template-rows: repeat(4, 1fr);

    margin-top: 25px;
}

.buttons,
.other-buttons {
    row-gap: 13px;
}

header {
    grid-row: 1 / 2;

}

header > div {
    height: 50%;
    padding-left: 35px;

}

.region1,
.region2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.region1 {
    align-items: baseline;
    column-gap: 700px;

    margin-top: 20px;
}

.search-area {
    display: grid;
    grid-template-columns: repeat(2, min-content);
    column-gap: 15px;

    margin-top: -10px;
}

.search-area > input {
    border: none;
    border-radius: 20px;

    background-color: #e0e0e0ad;
    width: 550px;
}

.account-area {
    display: grid;
    grid-template-columns: repeat(2, min-content) 110px;
    align-items: center;
    column-gap: 40px;

    font-weight: bold;
}

.account-area > img[alt="Avatar"], 
.user > img {
    width: 40px;
}

.account-area > img[alt="Alerts"],
.card-icons > img {
    width: 30px;
}

.region2 {
    margin-top: -20px;
    column-gap: 500px;
}

.greeting {
    display: grid;
    grid-template-columns: 70px 500px;
    grid-template-rows: repeat(2, min-content);
    align-items: center;
    column-gap: 20px;
}

.greeting > img {
    width: 70px;
    
    grid-row: span 2;
}

.greeting > img ~ p {
    font-weight: bold;
}

.greeting > img + p {
    font-size: .8em;
}

.greeting > img + p + p {
    font-size: 1.5em;
    
    margin-top: -10px;
}

.userbuttons {
    align-self: center;
    display: grid;
    grid-template-columns: repeat(3, min-content);
    column-gap: 50px;

    margin-bottom: 10px;
}

.userbuttons span {
    background-color: #059669;
    color: #FFF;

    padding: 10px 38px;
    border-radius: 20px;

    font-weight: bold;
}

main {
    background-color: #d4e4dd;

    grid-column: 2 / 4;
    grid-row: 2 / 7;

    display: grid;
    grid-template-columns: repeat(2, min-content);
    grid-template-rows: repeat(2, min-content);
    column-gap: 30px;

    padding: 30px 0 30px 20px;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, min-content);
    column-gap: 50px;
    align-items: end;
}

.projects {
    display: grid;
    grid-template-rows: 40px min-content;
}

.projects > p,
.announcements > p,
.trending > p {
    margin-bottom: 10px;

    font-weight: bold;
    font-size: 1.5em;

    color: rgb(95, 94, 94);
}

.card, 
.announcement-grid,
.trending-grid {
    border-radius: 8px;
}

.cardcontainer {
    display: grid;
    grid-template-columns: repeat(2, min-content);
    grid-template-rows: repeat(3, min-content);
    gap: 30px;
}

.card {
    display: grid;
    grid-template-rows: 25px 100px 50px;

    width: 400px;
    
    border-left: 8px solid darkslategray;
    padding: 30px 0 30px 20px;
}

.card, 
.announcement-grid,
.trending-grid {
    box-shadow: 0px 3px 5px 0px rgba(153,153,153,1);
    background-color: #FFF;
}

.card p:nth-child(1) {
    font-weight: bold;
    font-size: 1.2em;

    margin-bottom: 3px;
}

.card > p:nth-child(2) {
    grid-row-start: 2;
    grid-column-start: span 2;

    width: 300px;
}

.card-icons {
    grid-row-start: 3;
    grid-column-start: 2;
    justify-self: end;
    
    display: grid;
    grid-template-columns: repeat(3, 30px);
    column-gap: 25px;

    margin: 30px 25px 0 0;
}

.announcement-grid {
    padding: 25px 45px 20px 35px;
    margin-bottom: 20px;

    display: grid;
    grid-template-rows: repeat(3, min-content);
}

.announcement {
    padding: 30px 0 20px 8px;
    border-bottom: 1px solid #aaaaaa;
}

.announcement p:nth-child(1) {
    font-weight: bold;
    font-size: 1.1em;
}

.announcement p:nth-child(2) {
    width: 300px;
}

.announcement-grid > .announcement:nth-child(3) {
    border-bottom: none;
}

.trending-grid {
    padding: 20px;

    display: grid;
    grid-template-rows: repeat(4, min-content);
    justify-content: center;
    row-gap: 25px;
}

.user {
    display: grid;
    grid-template-columns: min-content 200px;
    grid-template-rows: repeat(2, min-content);
    align-items: center;
    column-gap: 15px;
}

.user > img {
    grid-row: span 2;
}

.user > img + p + p {
    margin-top: 3px;
    font-weight: 300;
}
