* {
    margin:  0;
    padding: 0;
}

.content {
    background-color: aliceblue;
    display: grid;
    grid-template-columns: clamp(130px, 20%, 175px) 2fr;
    grid-template-rows: 70px;
    height: 100vh;
    width: 100vw;
}

.dashboard {
    background-color: #10b981;
    grid-row: 1 / 7;

    display: grid;
    grid-template-rows: repeat(10, 20px);
}

.logo {
    display: grid;
    grid-template-columns: 30px 10px;
    align-items: center;

    margin: 8px 0 0 5px;

    color: #FFF;
}

.logo img {
    width: 25px;
    
    filter: invert(95%) sepia(5%) saturate(0%) hue-rotate(66deg) brightness(104%) contrast(107%);
}

header {
    grid-row: 1 / 2;
}

main {
    background-color: #d2e2db;
    grid-column: 2 / 4;
    grid-row: 2 / 7;
}